<h1>
  List of all comments
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new comment
    </h2>
  </header>

  <form action="/insert_comment" method="post">
    <div>
      <label for="article_id_box">
        Article
      </label>

      <input type="text" id="article_id_box" name="query_article_id">
    </div>

    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <div>
      <label for="comment_box">
        Comment
      </label>

      <input type="text" id="comment_box" name="query_comment">
    </div>

    <button type="submit">
      Create comment
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_comments.each do |a_comment| %>
      <li>
        <a href="/comments/<%= a_comment.id %>">
          Comment #<%= a_comment.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
